/* --------------------*/
/* Colors              */
/* --------------------*/

:root {
    --main: #F2F2F2;
    --lightblue: #666CA3;
    --darkblue: #13183F;
    --gray: #83869A;
    --hotpink: #F74780;
    --lightpink: #FFA7C3;
    --white: #FFFFFF;
    --orange-pink: linear-gradient(#F02AA6, #FF6F48);
    --blue-pink: linear-gradient(#4851FF, #F02AA6);
}

/* --------------------*/
/* Fonts               */
/* --------------------*/

/* font-family: 'Plus Jakarta Sans', sans-serif;  */

/* --------------------*/
/* Reset               */
/* --------------------*/

/* https://piccalil.li/blog/a-modern-css-rest/ */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default font size - 1em = 16px - 2.1rem = 21px */

html,
#root,
body {
  height: 100%;
  /* width: 100%; */
  background-color: var(--main);
}

/* No text decoration for a links */

a {
  text-decoration: none;
  color: inherit;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}

.btn {
  margin: 0;
}

/* Set up the body */

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--main);
}

main {
  position: relative;
}

/*make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */

input,
button,
textarea,
select {
  font-family: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Sticky footer */

body > footer {
  position: sticky;
  top: 100vh;
}

/* --------------------*/
/* Navbar              */
/* --------------------*/

.navBar {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.company {
  font-size: 24px;
  line-height: 28px;
  width: 20%;
  margin-left: 10rem;

  }
  
.getStartedBtn {
  background-color: var(--darkblue);
  color: var(--white);
  padding: 1rem;
  font-family: inherit;
  font-size: 16px;
  margin-right: 10rem;
  border-radius: 50%;
  border-top: 0;
  border-bottom: 0;
  }

/* --------------------*/
/* Hero Section        */
/* --------------------*/

.heroCont {
  position: relative;
}

.heroTextCont {
  max-width: 20%;
  margin-left: 11rem;
  margin-top: 3rem;
}

.heroTitle {
font-size: 32px;
font-weight: 800;
line-height: 40px;
margin-bottom: 1rem;
}

.heroText {
font-size: 12px;
line-height: 28px;
color: var(--gray);
}

.heroImg {
position: absolute;
left: 53rem;
top: -15rem;
}

 

