/* --------------------*/
/* Colors              */
/* --------------------*/

:root {
    --main: #F2F2F2;
    --lightblue: #666CA3;
    --darkblue: #13183F;
    --gray: #83869A;
    --hotpink: #F74780;
    --lightpink: #FFA7C3;
    --white: #FFFFFF;
    --orange-pink: linear-gradient(#F02AA6, #FF6F48);
    --blue-pink: linear-gradient(#4851FF, #F02AA6);
}

/* --------------------*/
/* Fonts               */
/* --------------------*/

/* font-family: 'Plus Jakarta Sans', sans-serif;  */

/* --------------------*/
/* Reset               */
/* --------------------*/

/* https://piccalil.li/blog/a-modern-css-rest/ */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default font size - 1em = 16px - 2.1rem = 21px */

html,
#root,
body {
  height: 100%;
  /* width: 100%; */
  background-color: var(--main);
}

/* No text decoration for a links */

a {
  text-decoration: none;
  color: inherit;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}

.btn {
  margin: 0;
}

/* Set up the body */

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--main);
}

main {
  position: relative;
}

/*make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */

input,
button,
textarea,
select {
  font-family: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Sticky footer */

body > footer {
  position: sticky;
  top: 100vh;
}

/* --------------------*/
/* Navbar              */
/* --------------------*/

.navBar {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.company {
  font-size: 35px;
  line-height: 28px;
  width: 20%;
  margin-left: 10rem;

  }
  
.getStartedBtn {
 
  color: var(--white);
  padding: 1rem;
  font-family: inherit;
  font-size: 16px;
  margin-right: 15rem;
  border-radius: 50%;
  border-top: 0;
  border-bottom: 0;
  }

  .getStartedBtn.blue {
    background-color: var(--darkblue);
  }

  .getStartedBtn.pink {
    background-image: linear-gradient(#4851FF, #F02AA6); 
  }

/* --------------------*/
/* Hero Section        */
/* --------------------*/

.heroCont {
  position: relative;
}

.heroTextCont {
  max-width: 30%;
  margin-left: 11rem;
  margin-top: 3rem;
  margin-bottom: 17rem;
}

.heroTitle {
font-size: 52px;
font-weight: 800;
line-height: 70px;
margin-bottom: 1rem;
}

.heroText {
font-size: 15px;
line-height: 28px;
color: var(--gray);
}

.heroImg {
position: absolute;
left: 53rem;
top: -20rem;
}

/* --------------------*/
/* Course Section      */
/* --------------------*/

.coursesGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  width: min(97%, 65rem);
  line-height: 30px;
  margin: 0 auto;
}

.grid-padding {
  padding: 2rem;
  padding-left: 2rem;
}

.course {
  border-radius: 8px;
  background-color: var(--white);

}

.checkOut {
  background-image: linear-gradient(#F02AA6, #FF6F48);
  color: var(--white);
  font-weight: bold;  
  font-size: 20px;
  padding:  3rem;
  border-radius: 8px;
}

.courseTitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 55px;
}

.courseDesc {
  color: var(--gray);
  font-weight: 400;
}
.course-get-started {
  font-weight: bold;
  color: var(--hotpink);
  line-height: 55px;
}

.course.animation::before {
  background-image: url(../assets/icon-animation.svg);
}

.course.design::before {
  background-image: url(../assets/icon-design.svg);
}

.course.photography::before {
  background-image: url(../assets/icon-photography.svg);
}

.course.crypto::before {
  background-image: url(../assets/icon-crypto.svg);
}

.business::before {
  background-image: url(../assets/icon-business.svg);
}

/* --------------------*/
/* Footer              */
/* --------------------*/

.footer {
  background-color: var(--darkblue);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 6rem;
}